<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments.html :: header"></head>

<body>

<th:block th:replace="fragments.html :: nav-main"></th:block>

<div class="container">


    <div class="row pt-4 text-left justify-content-center bg-light">




        <!--        스터디 명-->
        <div class="col-6">
            <a href="#" class="text-decoration-none" th:href="@{'/study/' + ${study.path}}">
                <span class="h2" th:text="${study.title}">스터디 이름</span>
            </a>
        </div>

        <!--        스터디 상태-->
        <div class="col-4 text-right justify-content-end">
                <span th:if="${!study.published}"
                      class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="스터디 공개 준비중">
                    <button class="btn btn-primary btn-sm" style="pointer-events: none;" type="button" disabled>DRAFT</button>
                </span>
            <span th:if="${study.closed}"
                  class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="스터디 종료함">
                    <button class="btn btn-primary btn-sm" style="pointer-events: none;" type="button" disabled>CLOSED</button>
            </span>
            <span th:if="${!study.recruiting}"
                  class="d-inline-block ml-1" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="팀원 모집중 아님">
                    <button class="btn btn-primary btn-sm" style="pointer-events: none;" type="button" disabled>OFF</button>
            </span>


<!--            인증 완료-->
            <!--            가입 : 스터디 공개 / 맴버모집 가능 / 맴버 및 매니저 X -->
            <span sec:authorize="isAuthenticated()" th:if="${study.isJoinable(#authentication.principal)}"
                  class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-primary" th:href="@{'/study/' + ${study.path} + '/join'}">
                        스터디 가입
                    </a>
                    <a class="btn btn-outline-primary" th:href="@{'/study/' + ${study.path} + '/members'}"
                       th:text="${study.members.size()}">1</a>
            </span>

            <!--            탈퇴 스터디 종료 X / 맴버이면-->
            <span sec:authorize="isAuthenticated()"
                  th:if="${!study.closed && study.isMember(#authentication.principal)}" class="btn-group" role="group">
                    <a class="btn btn-outline-warning" th:href="@{'/study/' + ${study.path} + '/leave'}">
                        스터디 탈퇴
                    </a>
                    <a class="btn btn-outline-primary" th:href="@{'/study/' + ${study.path} + '/members'}"
                       th:text="${study.members.size()}">1</a>
            </span>

            <!--            스터디 생성 : 스터디 공개 / 종료 X / 매니저이면-->
            <span sec:authorize="isAuthenticated()"
                  th:if="${study.published && !study.closed && study.isManager(#authentication.principal)}">
                    <a class="btn btn-outline-primary" th:href="@{'/study/' + ${study.path} + '/new-event'}">
                        <i class="fa fa-plus"></i> 모임 만들기
                    </a>
            </span>
            <!--            인증 완료-->


        </div>
    </div>
    <div class="row justify-content-center bg-light">
        <div class="col-10">
            <p class="lead" th:text="${study.shortDescription}"></p>
        </div>
    </div>

    <div class="row justify-content-center bg-light">
        <div class="col-10">
            <p>
                <span th:each="tag: ${study.tags}"
                      class="font-weight-light text-monospace badge badge-pill badge-info mr-3">
                    <a th:href="@{'/search/tag/' + ${tag.title}}" class="text-decoration-none text-white">
                        <i class="fa fa-tag"></i> <span th:text="${tag.title}">Tag</span>
                    </a>
                </span>
                <span th:each="zone: ${study.zones}" class="font-weight-light text-monospace badge badge-primary mr-3">
                    <a th:href="@{'/search/zone/' + ${zone.id}}" class="text-decoration-none text-white">
                        <i class="fa fa-globe"></i> <span th:text="${zone.localNameOfCity}">City</span>
                    </a>
                </span>
            </p>
        </div>
    </div>

    <th:block th:replace="fragments.html :: study-nav('banner')"></th:block>

    <!--    content-->

    <div class="col-8">
        <form th:if="${!study.useBanner}" th:action="@{|/study/${study.getPath()}/settings/banner/enable|}" method="post">
            <button type="submit">배너 이미지 사용</button>
        </form>

        <form th:if="${study.useBanner}" th:action="@{|/study/${study.getPath()}/settings/banner/disable|}" method="post">
            <button type="submit">배너 이미지 사용 않음</button>
        </form>

        <h3>배너 이미지 변경</h3>
        <form id="imageForm" action="#" th:action="@{'/study/' + ${study.getPath()} + '/settings/banner'}" method="post" novalidate>
            <div class="form-group">
                <input id="studyImage" type="hidden" name="image" class="form-control" />
            </div>
        </form>

        <div class="card text-center">
            <div id="current-study-image" class="mt-3">
                <img class="rounded" th:src="${study.image}" width="640" alt="name" th:alt="${study.title}"/>
            </div>
            <div id="new-study-image" class="mt-3"></div>
            <div class="card-body">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="study-image-file">
                    <label class="custom-file-label" for="study-image-file">스터디 이미지 변경</label>
                </div>
                <div id="new-study-image-control" class="mt-3">
                    <button class="btn btn-outline-primary btn-block" id="cut-button">자르기</button>
                    <button class="btn btn-outline-success btn-block" id="confirm-button">확인</button>
                    <button class="btn btn-primary btn-block" id="save-button">저장</button>
                    <button class="btn btn-outline-warning btn-block" id="reset-button">취소</button>
                </div>
                <div id="cropped-new-study-image" class="mt-3"></div>
            </div>
        </div>




    </div>










    <!--    content-->



</div>


<footer th:replace="fragments.html :: footer"></footer>
<script type="application/javascript">
    $(document).ready(function() {
        $('#fullDescription').summernote({
            fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New']
        });
    });
</script>


</body>
</html>