<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments.html :: header"></head>

<body>

<th:block th:replace="fragments.html :: nav-main"></th:block>


<div class="py-5 text-center" th:if="${error}">
    <p class="lead">이메일 확인</p>
    <div class="alert alert-danger" role="alert">
        이메일 확인 링크가 정확하지 않습니다.
    </div>
</div>

<div class="py-5 text-center" th:if="${error == null}">
    <div class="alert alert-primary" role="alert">
        <span th:text="${numberOfUser}"></span>번째 회원님,
        <span th:text="${nickname}"></span>님 이메일을 확인했습니다.
    </div>
</div>



<footer th:replace="fragments.html :: footer"></footer>

</body>
</html>